# OpenAI
openai__key=REPLACE
openai__planner_llm=o3
openai__executor_llm=o3
openai__web_search_llm=o3-mini
openai__synthesizer_llm=o3
openai__visualizer_llm=o3
openai__chart_summarizer_llm=o3

# Tavily
tavily__key=REPLACE
tavily__max_results=5

# Langfuse
langfuse__secret_key=REPLACE
langfuse__public_key=REPLACE
langfuse__base_url="https://cloud.langfuse.com"

# App
max_replans=3
logging_level=DEBUG
