# Prompt registry
prompt_registry__planner__name=planner_prompt
prompt_registry__planner__label=dev_latest
prompt_registry__planner__type=chat

# OpenAI
openai__key=
openai__planner_llm=o3
openai__executor_llm=o3
openai__web_search_llm=o3-mini
openai__synthesizer_llm=o3
openai__visualizer_llm=o3
openai__chart_summarizer_llm=o3

# Tavily
tavily__key=
tavily__max_results=5

# Langfuse
langfuse__secret_key=
langfuse__public_key=
langfuse__base_url="https://cloud.langfuse.com"

# App
max_replans=3
logging_level=DEBUG
